*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.debug{
    background-color: rgba(0, 128, 0, 0.4);
    border: 1px solid black;
}

h1{
    text-align: center;
}

h2{
    display: block;
}

.dati{
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 30px 45px;
    margin-bottom: 50px;
}

select{
    display: inline-block !important;
    width: 150px !important;
}

.ticket{
    /* display: flex; */
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 30px 45px;
}

.ticket h4{
    text-align: start;
}

.ticket .box-ticket{
    display: flex;
}

.ticket .box-ticket .box-name{
    display: flex;
    flex-direction: column;
    
}