*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1{
    text-align: center;
}

.dati{
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 30px 45px;
    margin-bottom: 50px;
}

select{
    display: inline-block !important;
    width: 150px !important;
}

.ticket{
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 30px 45px;
}