@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --green: #265858;
    --light-green: #488f8f33;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rgba(187, 183, 183, 0.486);
}

h1{
    text-align: center;
}

h2{
    display: block;
    text-align: center;
}

h5{
    font-weight: bold;
}

.dati{
    background-color: var(--light-green);
    display: flex;
    margin: 0 auto;
    border: 3px solid var(--green);
    border-radius: 10px;
    width: fit-content;
    padding: 30px 45px;
    margin-bottom: 50px;
}

.dati .inputs{
    display: flex;
}

.dati .inputs input{
    width: 200px;
}

.dati .inputs div{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.btn-gen,.btn-res{
    background-color: var(--green);
    border: none;
}

.btn-res:hover,
.btn-gen:hover{
    background-color: var(--light-green);
    border: none;
}

.btn-res:active,
.btn-gen:active{
    background-color: var(--green) !important;
}

select{
    display: inline-block !important;
    width: 150px !important;
}

.ticket{
    background-color: #488f8f33;
    margin: 0 auto;
    border: 3px solid var(--green);
    border-radius: 2px;
    width: fit-content;
    padding: 30px 45px;
}

.ticket h4{
    text-align: start;
}

.ticket .box-ticket{
    display: flex;
    border-top: 3px solid var(--green);
    border-bottom: 3px solid var(--green);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.ticket  .box-name{
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 130px;
    padding: 15px;
    color: whitesmoke;
    text-align: center;
}

.ticket  .box-name p{
    font-size: 1.3rem;
    color: whitesmoke;
}

.ticket p{
    color:#265858;
}

.ticket .box-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    padding: 15px;
}


.ticket .box-ticket .box-name{
    display: flex;
    flex-direction: column;
    
}